.user-card {
  position: relative;
  height: 305px;
  border-radius: 8px;
  overflow: hidden;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .no-video {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
  }
}

.user-info {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.user-avatar {
  img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

.user-name {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nickname {
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 18px;
}

@media (max-width: 600px) {
  .user-card {
    height: 340px;
  }
}

@media (max-width: 415px) {
  .user-card {
    height: 520px;
    width: 300px;
  }
}