.layout {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 736px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 18px;
}

@media (max-width: 600px) {
  .container {
    max-width: 736px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 415px) {
  .container {
    width: 100%;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    // căn giữa
    justify-items: center;
  }
}


