.wrapper {
  width: 248px;
  padding: 20px 8px 26px 8px;
  margin-left: -18px;
  height: calc(100vh - 60px);
  overflow-y: overlay;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper-login {
  border-top: 1px solid #e9e9ec;
  padding: 8px 0;
}

.wrapper-login p {
  color: rgba(22, 24, 35, 0.5);
  font-size: 1.6rem;
  line-height: 2.1rem;
}

/* Mobile & Tablet */
@media (max-width: 1024px) {
  
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  
}

/* Mobile */
@media (max-width: 768px) {
  .wrapper {
    width: 65px;
    border-right: 1px solid #efeff0;
  }

  .wrapper-login {
    display: none;
  }
}
