.wrapper {
  border-top: 1px solid #e9e9ec;
  padding: 8px 0;
}

.label {
  padding: 8px;
  font-size: 1.4rem;
  font-weight: 600;
}

.more-btn {
  padding: 8px;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fe2c55;
  cursor: pointer;
}
