.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 692px;
  border-bottom: 1px solid #dbdbdb;
}

.list-item-container {
  position: relative;
  display: flex;
  padding: 20px 0px;
  width: 100%;
  max-width: 692px;
}

.avatar {
  width: 56px;
  height: 56px;
  object-fit: cover;
  border-radius: 50%;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.text-info {
  margin-right: 114px;
}

.nickname {
  font-weight: bold;
  font-size: 1.8rem;
  margin-right: 5px;

  &:hover {
    text-decoration: underline;
  }
}

.username {
  font-size: 1.4rem;
}

.caption {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 12px;
  max-width: 500px;
}

.video {
  display: flex;

  video {
    height: 700px;
    border-radius: 10px;
    width: 394px;
    // width: 100%;
  }
}

.btn-react-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  gap: 12px;
  margin-left: 30px;
}
