.modal-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
}

.modal-left {
  flex: 1 0 600px;
  background: rgb(0, 0, 0);
  position: relative;
  overflow: hidden;

  button {
    background: #ccc;
    cursor: pointer;
    color: #fff;
    font-size: 2rem;
    padding: 6px;
    background: rgba(84, 84, 84, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;

    &:hover {
      opacity: 0.7;
      background: rgba(49, 49, 49, 0.6);
    }
  }
}

.btn-close {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: 15px;
}

.group-btn {
  position: absolute;
  bottom: 15px;
  top: 15px;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;

  .btn-control {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .btn-prev {
    rotate: -90deg;
  }

  .btn-next {
    rotate: 90deg;
  }
}

.video {
  position: relative;
  width: 40%;
  height: 100%;
  margin: 0 auto;

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.progress-bar {
  appearance: none;
  position: absolute;
  height: 3px;
  background-color: #d3d3d3;
  bottom: 20px;
  left: 10px;
  right: 80px;
  border-radius: 10px;
  overflow: hidden;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: -410px 0 0 400px #fff;
  }

  &:hover {
    cursor: pointer;
    height: 6px;

    &::-webkit-slider-thumb {
      width: 10px;
      height: 10px;
      background-color: #fff;
      border-radius: 50%;
    }
  }
}

.time-update {
  position: absolute;
  bottom: 16px;
  right: 10px;
  font-size: 1rem;
  color: #fff;
}

.modal-right {
  flex: 0 0 544px;
  width: 544px;
  background-color: #fff;
}
