.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu,
.navbar-menu-mobile,
.check {
  display: none;
}

.logo {
  min-width: 300px;
}

.actions {
  display: flex;
  align-items: center;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.messages-btn,
.inbox-btn,
.app-btn,
.more-btn {
  position: relative;
  height: 100%;
  font-size: 2.2rem;
  padding: 6px 14px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
}

.app-btn {
  margin-left: 16px;
}

.download {
  width: 224px;
}

.download-content {
  text-align: center;
  padding: 20px 0;

  p {
    font-weight: bold;
    margin: 20px 0;
  }
}

.badge {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white);
  background-color: var(--primary);
}

/* Mobile & Tablet */
@media (max-width: 1024px) {
  .app-btn {
    display: none;
  }
}

/* Tablet */
@media (min-width: 769px) and (max-width: 1024px) {
  .logo {
    min-width: 200px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .logo {
    min-width: 120px;
  }
}

@media (max-width: 600px) {
  .logo {
    min-width: 80px;

    img {
      width: 100%;
    }
  }

  .messages-btn,
  .inbox-btn {
    display: none;
  }
}

@media (max-width: 415px) {
  .logo {
    max-width: 100px;

    img {
      width: 100%;
    }
  }

  .navbar-menu {
    display: block;
    background-color: transparent;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .check {
    &:checked ~ .navbar-menu-mobile {
      transform: translateX(0);
    }

    &:checked ~ .nav-overlay {
      display: block;
    }
  }

  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: none;
  }
  
  .navbar-menu-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px 0;
    background-color: #fff;
    border-right: 1px solid #e6e6e6;
    z-index: 10;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  

  .menu-item {
    display: flex;
    color: #000;
    align-items: center;
    padding: 10px 20px;
    font-size: 1.8rem;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;

    &.active {
      color: var(--primary);
    }

    &:hover {
      color: var(--primary);
    }
  }

  .icon {
    margin-right: 10px;

    svg {
      width: 32px;
      height: 32px;
    }
  }
}
